/* .vitepress/theme/custom.css */

/* 代码块自动换行 */
.vp-doc div[class*="language-"] pre,
.vp-doc div[class*="language-"] pre code {
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: break-word;
}

/* 字体 */
@font-face {
  font-family: "JetBrainsMono-wght";
  src: url("/fonts/JetBrainsMono-wght.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMonoNLNerdFontPropo-Regular";
  src: url("/fonts/JetBrainsMonoNLNerdFontPropo-Regular.woff2") format("woff2");
  font-display: swap;
}

html {
  /* 只要可能出现滚动条，就提前把空间预留出来 */
  scrollbar-gutter: stable;
}

:root {
  /* 普通文本字体 */
  /* --vp-font-family-base: "JetBrainsMono-wght"; */

  /* 代码字体 */
  --vp-font-family-mono: "JetBrainsMonoNLNerdFontPropo-Regular";

  /* 控制整个页面布局（内容+右侧目录导航）的最大宽度 */
  /* --vp-layout-max-width: 2440px;  */
}
